.flex-zone{
    display:flex;
    padding: 1% ;
}
a{
    color: #ffffff
}
.student{
    text-align:center;
    padding: 1.5% ;
    width: 33.3%;
}

header{
    text-align: center;
}

img{
    width:100%;
}

body{
    background-color:#444444;
    color:#ffffff;
}