.flex-zone{
    display:flex;
    padding: 1% ;
}
a{
    color: #ffffff
}
.nav {
	background-color: #444444;
	flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 2%;
    padding-bottom: 2%
}
p, li{
    font-size:size 16;
}
li, h3{
    text-align: left;
}
ul{
    text-decoration: none;
    list-style-type: none;
}
h1{
    text-align:Center;
    color: #aaaaaa;
}
.nav a{
	color: #aaaaaa;
	font-size: 3vh;
    text-decoration: none;
    padding: 5%;
}
.student{
    text-align:center;
    padding: 1.5% ;
    width: 33.3%;
}
.text{
    margin:auto;
    text-align: center;
    width:50%;
}
header{
    text-align: center;
}

img{
    width:100%;
}
html{
    background: black;
    margin: auto;
}
body{
    background-color:#222222;
    color:#aaaaaa;
    width:70%;
    margin: auto;
}